{% extends 'layout/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/homepage') }}
{% endblock %}

{% block content %}
    <div id="homepage"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/homepage') }}
{% endblock %}