<header class="codrops-header">
    <h1>Réalisations<span>personnelles, universitaire et professionnelles</span></h1>

    <div class="codrops-filters">
        <div class="filter active" data-filter="all">
            <i class="fas fa-border-all"></i>
            Tout
        </div>
        <div class="filter" data-filter="unity">
            <i class="fab fa-unity"></i>
            Unity
        </div>
        <div class="filter" data-filter="web">
            <i class="fas fa-laptop-code"></i>
            Web
        </div>
        <div class="filter" data-filter="mobile">
            <i class="fas fa-mobile"></i>
            Mobile
        </div>
        <div class="filter" data-filter="graphisme">
            <i class="fas fa-paint-brush"></i>
            Graphisme
        </div>
        <div class="filter" data-filter="audiovisuel">
            <i class="fas fa-film"></i>
            Audiovisuel
        </div>
    </div>
</header>