$white: #fff;
$whitesmoke: whitesmoke;
$black-lighter: #393e46;
$black-light: #252323;
$black-semi-light: #1f1d1d;
$black: #000;

$gray-light: #778899;
$gray: #9d9d9d;
$gray-dark: #5D5D5D;

$beige: #F5F5DC;

$lightsteelblue: #B0C4DE;
$lightblue: #ADD8E6;
$skyblue: #87CEEB;
$deepskyblue: #00BFFF;

$green: #6bd68a;
$green-dark: #2F4F4F;

$color-primary-light: $lightsteelblue;
$color-primary: $skyblue;


$color-github: #323232;
$color-gitlab: #FCA121;
$color-gitlab-dark: #FC6D26;