<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-title">
            <h2>Mes expériences</h2>
            <p>Professionnelle, universitaire ou personnelle</p>
        </div>

        <ul class="timeline timeline-centered">
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>decembre 2020 - septembre 2021</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Alternance en Licence professionnelle</h3>
                    <p>Studio Loop
                        <br>Développeur web (back et front)
                        <br>> Refonte d'un site web avec les framework Syfony et ReactJs</p>
                </div>
            </li>

            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">DUT MMI (BAC+2 ^)</h2>
                </div>
            </li>

            <li class="timeline-item">
                <div class="timeline-info">
                    <span>avril 2020 - juin 2020</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Stage en 2e année DUT MMI</h3>
                    <p>Papoudring-IUT de Vélizy
                        <br>Développeur du révéil sur Android et iOS à l'aide de Cordova.
                        <br>Création des scripts PHP pour accéder aux bases de données web.</p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>septembre 2019 - avril 2020</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Projets d'étude en 2e année DUT MMI</h3>
                    <p>StorySpot - Musée Art Histoire Meudon
                        <br>2è année DUT MMI (Métiers du Multimédia et de l'Internet) Développement du site web de StorySpot
                        <br>> Création d'un jeu AR sur Unity.</p>
                </div>
            </li>

            <li class="timeline-item">
                <div class="timeline-info">
                    <span>avril 2019 - juin 2019</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Projets d'étude en 1er année DUT MMI</h3>
                    <p>Jumping international de Vichy CSI
                        <br>> Montage vidéo pour un spot vidéo (Adobe Première Pro).
                        <br>> Conception de la plaquette tarifaire de l'évènement (Illustrator, Indesign).</p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>janvier 2019 - avril 2019</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Exposition des "toiles et des mots"</h3>
                    <p>Modélisation d'une affiche promotionnelle (Photoshop).
                        <br>> Maquettage du lieu d'exposition et de l'événement</p>
                </div>
            </li>

            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">Lycée `</h2>
                </div>
            </li>

            <li class="timeline-item">
                <div class="timeline-info">
                    <span>spetembre 2017 - juin 2018</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Association Lycéenne de Jacques Coeur</h3>
                    <p>YOUP
                        <br>Secrétaire de l'association.
                        <br>> Bilans et un compte rendu de chaque réunion
                        <br>> Gestion du temps et de l'organisation.</p>
                </div>
            </li>
        </ul>
    </div>
</div>