<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 header-title">
            <h2>Mon parcours scolaire</h2>
            <p>Université et lycée</p>
        </div>

        <ul class="timeline timeline-centered">
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2020-2021</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Licence professionnelle Métiers du Numérique</h3>
                    <p>IUT Le Puy en Velay, 8 Rue Jean Baptiste Fabre, 43000 Le Puy-en-Velay
                        <br>Option : Développeur Web.
                        <br>> Framework  Symfony et React Native.
                        <br>> Sécurité informatique.
                        <br>> Modélisation UML.
                        <br>> Cloud.
                </div>
            </li>

            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">DUT MMI (BAC+2 ^)</h2>
                </div>
            </li>

            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2019-2020</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">2è année DUT MMI (Métiers du Multimédia et de l'Internet)</h3>
                    <p>IUT de Vélizy, 10-12 Avenue de l'Europe, 78140 Vélizy-Villacoublay
                        <br>Option : Théorie des jeux | Réalité Virtuel | Marketing et communication | Wordpress avancé | mathématiques avancées.
                        <br>> Conception d'un dossier de Level Design.
                        <br>> Modélisation et Animation d'un personnage sur Blender.
                        <br>> Apprentissage des langages C# avec Unity et Java.
                        <br>> Usage de la réalité augmentée Vuforia avec Unity.
                        <br>> Apprentissage des langages JQuery et AJAX.
                        <br>> Initiation à AngularJs.</p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2018-2019</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">1er année DUT MMI (Métiers du Multimédia et de l'Internet)</h3>
                    <p>Pôle Universitaire de Vichy, 1 Avenue des Célestins, 03200 Vichy
                        <br>> Usage de logiciels de retouches et de designs (Photoshop, Illustrator, Indesign).
                        <br>> Cours de post production, de scénario, de production, de sons et développement d'un court métrage (Adobe Première Pro, DaVinci Resolve 15).
                        <br>> Notion de marketing, de commerce , de communication.
                        <br>> Apprentissage de langages de programmation (Javascript, PHP).</p>
                </div>
            </li>

            <li class="timeline-item period">
                <div class="timeline-info"></div>
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                    <h2 class="timeline-title">BACCALAURÉAT</h2>
                </div>
            </li>

            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2018</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Terminale STL SPCL (Sciences et technologies en Laboratoire option Science Physiques et Chimies en Laboratoire)</h3>
                    <p>Lycée Jacques Coeur, 108 Rue Jean Baffier, 18000 Bourges</p>
                </div>
            </li>
            <li class="timeline-item">
                <div class="timeline-info">
                    <span>2017</span>
                </div>
                <div class="timeline-marker circle"></div>
                <div class="timeline-content">
                    <h3 class="timeline-title">Première STL SPCL (Sciences et technologies en Laboratoire option Science Physiques et Chimies en Laboratoire)</h3>
                    <p>Lycée Jacques Coeur, 108 Rue Jean Baffier, 18000 Bourges</p>
                </div>
            </li>
        </ul>
    </div>
</div>