<div class="skill-container">
    <div class="bar">
        JQuery
        <div class="progressbar front"></div>
        <div class="progressbar back"><span>Acquis</span></div>
    </div>
    <div class="bar">
        Photoshop | Illustrator | Indesign
        <div class="progressbar front"></div>
        <div class="progressbar back"><span>Acquis</span></div>
    </div>
    <div class="bar">
        Adobe Première Pro | Davinci Resolve
        <div class="progressbar front"></div>
        <div class="progressbar back"><span>Acquis</span></div>
    </div>
    <div class="bar">
        Blender
        <div class="progressbar front"></div>
        <div class="progressbar back"><span>Acquis</span></div>
    </div>
</div>