<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block meta %}
            <script>
                void 0 === window._axcb && (window._axcb = []);
                window._axcb.push(function(axeptio) {
                    axeptio.on("cookies:complete", function(choices) {})
                });
            </script>
        {% endblock %}

        <meta charset="UTF-8">
        <meta name="description" content="Portfolio de Christophe WANG, étudiant en Licence professionnelle">
        <meta name="keywords" content="Portfolio, Portfolio web, Portfolio WEB, Christophe WANG">
        <meta name="author" content="Christophe WANG">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=0">
        <link rel="icon" type="image/png" href="{{ asset('build/images/icon/favicon.png') }}" />
        <link rel="apple-touch-icon" href="{{ asset('build/images/icon/favicon.png') }}" />
        <title>{% block title %}Site{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('css/load') }}
        {% endblock %}
    </head>

    <body>
        <div class="load">
            <div class="load-wrapper">
                <div class="load-circle"></div>
                <div class="load-circle"></div>
                <div class="load-circle"></div>
                <div class="load-shadow"></div>
                <div class="load-shadow"></div>
                <div class="load-shadow"></div>
            </div>
            <span class="load-text">Loading</span>
        </div>
        {% block body %}{% endblock %}

        <script>
            window.axeptioSettings = {
                clientId: "60a6b3336cd349769a4c4061",
                cookiesVersion: "portfolio",
            };

            (function(d, s) {
                var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
                e.async = true; e.src = "//static.axept.io/sdk-slim.js";
                t.parentNode.insertBefore(e, t);
            })(document, "script");
        </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('js/load') }}
        {% endblock %}
    </body>
</html>