<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio de Christophe WANG, étudiant en Licence professionnelle">
        <meta name="keywords" content="Portfolio, Portfolio web, Portfolio WEB, Christophe WANG">
        <meta name="author" content="Christophe WANG">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=0">
        <link rel="icon" type="image/png" href="{{ asset('build/images/icon/favicon.png') }}" />
        <link rel="apple-touch-icon" href="{{ asset('build/images/icon/favicon.png') }}" />
        <title>{% block title %}Site{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>